* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 50px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.product {
    display: flex;
    padding: 10px;
    border-radius: 7px;
    flex-direction: column;
    background-color: #00000010;
    transition: 0.3s;
}

.product h3 {
    margin: 20px 0;
}

.addToCartBtn {
    margin-top: auto;
    height: 40px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    background-color: #00e291;
    transition: 0.3s;
}

.addToCartBtn:hover {
    background-color: #00cd82;
}

.cart-div {
    width: 600px;
    padding: 10px 20px;
    min-height: 100px;
    background-color: rgb(234 234 234 / 57%);
}

.cart-img {
    width: 50px;
    border-radius: 50%;
    border: 2px solid gray;
    padding: 5px;
}